body {
  margin: 20px;
}

#names-input,
#items-table,
#result {
  margin-bottom: 20px;
}

#expense-table {
  margin-bottom: 0;
}

#expense-table th,
#expense-table td {
  vertical-align: middle;
}

#expense-table th:last-child,
#expense-table td:last-child {
  text-align: right;
}

#summary-list {
  padding-left: 20px;
}

.remove-row-button {
  border: none;
  background-color: transparent;
  color: #dc3545;
  cursor: pointer;
}
